body {
   backgroung: #CCCCCC
}

#banner.jpg {
         main
}
         
body {

}

.principal{
    background: #CCCCCC;
    padding: 30px;
} 
         
.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}

h1 {
  text-aling: center
}
         
 ul {body {
   backgroung: #CCCCCC

}

#banner.jpg {
         main
}

body {

}

.principal{
    background: #CCCCCC
    padding: 30px;
} 

.itens {
     font-style: italic;

}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}  
         
p {
  text-aling: center
}

#missão {
    font-size: 20px
}        
         
em strong {
    color: FF0000;.imagembeneficios {
    width: 50%;
  
}
