body {
   backgroung: #CCCCCC
}

#banner.jpg {
         main
}
         
body {

}

.principal{
    background: #CCCCCC;
    padding: 30px;
} 
         
.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}

h1 {
  text-aling: center
}
         
 ul {body {
   backgroung: #CCCCCC

}

#banner.jpg {
         main
}

body {

}

.principal{
    background: #CCCCCC
    padding: 30px;
} 

.itens {
     font-style: italic;

}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}  
         
p {
  text-aling: center
}

#missão {
    font-size: 20px
}        
         
em strong {
    color: FF0000;.imagembeneficios {
    width: 50%;
  
}
   
   abcdef. . . .
   
   binario01numérico 0123456789
   
   hexedecimal 0123456789ABCDEFRGB
   
   = red green blue#_ _ _ _ _ _0 
   
   = ausenciaF= Máximo#000000#FFFFFF#FF0000
   
   redyelowblueRGB 0,1,2,3,. . .2550= 
   
   ansencia255 = máximo 
   
   rgb(255,255,255)
   
   rgb (0,0,255) <style> 
   
   body{ backgroug: #CCCCCC } 
   
   p { text-aling: center } 
   
   em strong { color: FF0000
   
   
   
